{% load staticfiles %}

<html>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="{% static "twenty14/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "twenty14/css/bootstrap-theme.min.css" %}" />
        <script src="{% static "twenty14/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('input:submit').click(function(data) {
            $("#is_better").val(data.currentTarget.value);
        });
    });
</script>
<style>
</style>
<head>
</head>
<body>
{% block content %}
{% endblock %}
<a href="{% url 'logout' %}?next=/">Logout</a>
</body>
