{% extends 'twenty14/base.html' %}
{% load staticfiles %}

{% block content %}
<form action="." method="POST">
    {% csrf_token %}
    <div class="container">
    <div class="jumbotron center" style="text-align: center;">
        <p>Hello {{ user.username }},</p>
        <p>Did you do better today than yesterday?</p>
        <input type="hidden" name="is_better" id="is_better" value="" />
        <input type="submit" value="Yes" class="btn btn-primary btn-lg"/>
        <input type="submit" value="No" class="btn btn-primary btn-lg"/>
    </div>

    {% include 'twenty14/history.html' %}
</form>
{% endblock %}
